@use '@styles/mixins';

.buttonBase {
  align-items: center;
  background: var(--color-btn-bg);
  border-radius: var(--border-radius);
  border: 0.125rem solid var(--color-btn-border);
  color: var(--color-btn-text);
  cursor: pointer;
  display: inline-flex;
  font-weight: 600;
  justify-content: space-between;
  line-height: 1;
  margin: 0;
  padding: 0.75em 1.25em;
  @include mixins.transition(background, border, color);

  span {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  svg {
    height: 1.5em;
    width: 1.5em;
  }
}

// Different variants
$variants: default, outlined, light, lighter, 'transparent', minimal,
  minimal-bright, minimal-dark;
@each $variant in $variants {
  .button-#{$variant} {
    border: 0.125rem solid var(--color-btn-#{$variant}-border);
    background: var(--color-btn-#{$variant}-bg);
    color: var(--color-btn-#{$variant}-text);
    @include mixins.transition(background, border, color);

    &:hover {
      border: 0.125rem solid var(--color-btn-#{$variant}-hover-border);
      background: var(--color-btn-#{$variant}-hover-bg);
      color: var(--color-btn-#{$variant}-hover-text);
    }
    &:focus {
      border: 0.125rem solid var(--color-btn-#{$variant}-focus-border);
      background: var(--color-btn-#{$variant}-focus-bg);
      color: var(--color-btn-#{$variant}-focus-text);
      outline: var(--color-btn-#{$variant}-focus-border);
    }
    &:active {
      border: 0.125rem solid var(--color-btn-#{$variant}-active-border);
      background: var(--color-btn-#{$variant}-active-bg);
      color: var(--color-btn-#{$variant}-active-text);
    }

    &.loading {
      border: 0.125rem solid var(--color-btn-#{$variant}-active-border);
      background: var(--color-btn-#{$variant}-active-bg);
      color: var(--color-btn-#{$variant}-active-text);
      pointer-events: none;
      user-select: none;
    }

    &.disabled {
      cursor: default;
      border: 0.125rem solid var(--color-btn-#{$variant}-disabled-border);
      background: var(--color-btn-#{$variant}-disabled-bg);
      color: var(--color-btn-#{$variant}-disabled-text);

      &.outlined {
        border: 0.125rem
          solid
          var(--color-btn-#{$variant}-outlined-disabled-border);
        background: transparent;
        color: var(--color-btn-#{$variant}-outlined-disabled-text);
      }
    }
  }
}

// Different Sizes
.button-xs {
  font-size: 0.75rem;
}

.button-sm {
  font-size: 0.875rem;
}

.button-md {
  font-size: 1rem;
}

.button-lg {
  font-size: 1.125rem;
}

.button-xl {
  font-size: 1.25rem;
}

.button-icon-left {
  margin-right: 1.25em;
}

.button-icon-right {
  margin-left: 1.25em;
}

.button-squared {
  padding: 0.75em;
}

.stretched {
  width: 100%;
}
