@use '@styles/mixins';

.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: var(--z-high);
  width: 100%;
  background-color: var(--color-bg-primary);
  color: var(--color-text-brand);
  @include mixins.transition(background-color, color);

  &.headerTransparent {
    background-color: transparent;
    color: var(--color-white);
  }

  &.navContainerOpen {
    position: fixed;
  }

  @include mixins.breakpoint-up(lg) {
    position: relative;
  }
}

.headerContainer {
  width: 100%;
  margin: 0 auto;
}

.navigation {
  padding: 0.75rem 0;

  @include mixins.breakpoint-up(lg) {
    display: flex;
    align-items: center;
  }
}

.toolbar {
  position: relative;
  z-index: var(--z-ultra);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.toolbarIcons {
  display: flex;
  align-items: center;
  margin-right: -0.75rem;

  button {
    margin-left: 0.5rem;
    padding: 0.125rem;
  }

  svg {
    width: 2.5rem;
    height: auto;
  }

  @include mixins.breakpoint-up(lg) {
    order: 2;
    .hamburger {
      display: none;
    }
  }
}

.logo {
  cursor: pointer;
  width: auto;
  height: 2rem;
  @include mixins.breakpoint-up(lg) {
    width: 8rem;
  }
}
