@use '@styles/mixins';

.navMenuContainer {
  position: fixed;
  top: 4.5rem;
  right: -100%;
  bottom: 0;
  width: 100%;
  z-index: var(--z-ultra);
  padding-bottom: 3rem;
  overflow-y: auto;
  background-color: var(--color-bg-primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &.navContainerOpen {
    right: 0;
  }

  &.navigationTransparent {
    top: 4.5rem;
  }

  @include mixins.breakpoint-up(lg) {
    position: static;
    transform: none;
    padding: 0;
    padding-left: 2.5rem;
    background-color: transparent;
    order: 1;
    overflow-y: visible;
    &.navigationTransparent {
      [class~='navItemContainer'] {
        color: var(--color-white);
      }
    }
  }
}

.navMenuList {
  display: grid;
  justify-items: center;
  align-content: center;
  flex: 1;
  gap: 2.5rem;
  margin-left: auto;
  margin-right: auto;
  position: relative;

  & > a,
  & > div > [class~='parentSubMenuButton'] {
    padding: 0.5rem 1rem;
  }

  @include mixins.breakpoint-up(lg) {
    display: flex;
    align-items: center;
    gap: unset;
    padding: 0;
    margin-right: unset;
    & > a,
    & > div > [class~='parentSubMenuButton'] {
      padding: 0.5rem;
    }
  }
}

.languagePicker {
  margin-top: auto;
  display: none;
}
