.card {
  border-radius: var(--border-radius);
  overflow: hidden;
}

.card__body {
  padding: 1.5rem 1rem;
  background: var(--color-eagleair-50);
  display: grid;
  gap: 1.5rem;
}
.card__title {
  color: var(--color-text-brand);
}
.card__text {
  color: var(--color-eagleair-80);
}
