:root {
  // Text
  --color-text-primary: var(--color-charcoal-100);
  --color-text-secondary: var(--color-neutrals-130);
  --color-text-tertiary: var(--color-neutrals-120);
  --color-text-disabled: var(--color-neutrals-110);
  --color-text-placeholder: var(--color-neutrals-110);
  --color-text-inversed: var(--color-white);
  --color-text-brand: var(--color-eagleair-100);
  // Links
  --color-link-primary: var(--color-eagleair-100);
  --color-link-hover: var(--color-eagleair-90);
  --color-link-focus: var(--color-eagleair-90);
  --color-link-active: var(--color-eagleair-110);
  // Icons
  --color-icon-primary: var(--color-charcoal-100);
  --color-icon-secondary: var(--color-neutrals-130);
  --color-icon-tertiary: var(--color-neutrals-120);
  --color-icon-disabled: var(--color-neutrals-110);
  --color-icon-placeholder: var(--color-neutrals-110);
  --color-icon-inversed: var(--color-white);
  --color-icon-danger: var(--color-error);
  --color-icon-brand: var(--color-eagleair-100);
  // Backgrounds
  --color-bg-primary: var(--color-neutrals-80);
  --color-bg-secondary: var(--color-neutrals-90);
  --color-bg-tertiary: var(--color-white);
  --color-bg-backdrop: var(--color-black-fade-50);
  --color-bg-inversed: var(--color-neutrals-160);
  --color-bg-brand: var(--color-eagleair-100);
  // Borders
  --color-border-primary: var(--color-neutrals-90);
  --color-border-secondary: var(--color-neutrals-100);
  --color-border-tertiary: var(--color-neutrals-110);
  --color-border-inversed: var(--color-neutrals-150);
  --color-border-brand: var(--color-eagleair-100);
  // Shadows
  --color-shadow-primary: var(--color-black-fade-15);
  // Buttons
  --color-btn-default-text: var(--color-white);
  --color-btn-default-bg: var(--color-eagleair-100);
  --color-btn-default-border: var(--color-eagleair-100);
  --color-btn-default-hover-text: var(--color-white);
  --color-btn-default-hover-bg: var(--color-eagleair-90);
  --color-btn-default-hover-border: var(--color-eagleair-90);
  --color-btn-default-focus-text: var(--color-white);
  --color-btn-default-focus-bg: var(--color-eagleair-90);
  --color-btn-default-focus-border: var(--color-eagleair-90);
  --color-btn-default-active-text: var(--color-white);
  --color-btn-default-active-bg: var(--color-eagleair-110);
  --color-btn-default-active-border: var(--color-eagleair-110);
  --color-btn-default-disabled-text: var(--color-eagleair-70);
  --color-btn-default-disabled-bg: var(--color-eagleair-60);
  --color-btn-default-disabled-border: var(--color-eagleair-60);

  --color-btn-outlined-text: var(--color-eagleair-80);
  --color-btn-outlined-bg: 'transparent';
  --color-btn-outlined-border: var(--color-eagleair-80);
  --color-btn-outlined-hover-text: var(--color-eagleair-100);
  --color-btn-outlined-hover-bg: 'transparent';
  --color-btn-outlined-hover-border: var(--color-eagleair-100);
  --color-btn-outlined-focus-text: var(--color-eagleair-100);
  --color-btn-outlined-focus-bg: 'transparent';
  --color-btn-outlined-focus-border: var(--color-eagleair-100);
  --color-btn-outlined-active-text: var(--color-eagleair-120);
  --color-btn-outlined-active-bg: 'transparent';
  --color-btn-outlined-active-border: var(--color-eagleair-120);
  --color-btn-outlined-disabled-text: var(--color-eagleair-70);
  --color-btn-outlined-disabled-bg: 'transparent';
  --color-btn-outlined-disabled-border: var(--color-eagleair-60);

  --color-btn-light-text: var(--color-primary-100);
  --color-btn-light-bg: var(--color-eagleair-50);
  --color-btn-light-border: var(--color-eagleair-50);
  --color-btn-light-hover-text: var(--color-white);
  --color-btn-light-hover-bg: var(--color-eagleair-80);
  --color-btn-light-hover-border: var(--color-eagleair-80);
  --color-btn-light-focus-text: var(--color-white);
  --color-btn-light-focus-bg: var(--color-eagleair-80);
  --color-btn-light-focus-border: var(--color-eagleair-80);
  --color-btn-light-active-text: var(--color-white);
  --color-btn-light-active-bg: var(--color-eagleair-90);
  --color-btn-light-active-border: var(--color-eagleair-90);
  --color-btn-light-disabled-text: var(--color-eagleair-70);
  --color-btn-light-disabled-bg: var(--color-eagleair-50);
  --color-btn-light-disabled-border: var(--color-eagleair-50);

  --color-btn-transparent-text: var(--color-white);
  --color-btn-transparent-bg: var(--color-white-fade-15);
  --color-btn-transparent-border: var(--color-white-fade-15);
  --color-btn-transparent-hover-text: var(--color-white);
  --color-btn-transparent-hover-bg: var(--color-white-fade-30);
  --color-btn-transparent-hover-border: var(--color-white-fade-30);
  --color-btn-transparent-focus-text: var(--color-white);
  --color-btn-transparent-focus-bg: var(--color-white-fade-30);
  --color-btn-transparent-focus-border: var(--color-white-fade-30);
  --color-btn-transparent-active-text: var(--color-white);
  --color-btn-transparent-active-bg: var(--color-white-fade-70);
  --color-btn-transparent-active-border: var(--color-white-fade-70);
  --color-btn-transparent-disabled-text: var(--color-white-fade-15);
  --color-btn-transparent-disabled-bg: transparent;
  --color-btn-transparent-disabled-border: transparent;

  --color-btn-transparent-outlined-text: var(--color-white);
  --color-btn-transparent-outlined-border: var(--color-white-fade-15);
  --color-btn-transparent-outlined-disabled-text: var(--color-white-fade-15);
  --color-btn-transparent-outlined-disabled-border: transparent;

  --color-btn-minimal-text: var(--color-charcoal-100);
  --color-btn-minimal-border: transparent;
  --color-btn-minimal-hover-text: var(--color-charcoal-80);
  --color-btn-minimal-hover-border: var(--color-black-fade-15);
  --color-btn-minimal-focus-text: var(--color-charcoal-70);
  --color-btn-minimal-focus-border: var(--color-black-fade-15);
  --color-btn-minimal-active-text: var(--color-charcoal-80);
  --color-btn-minimal-active-border: var(--color-black-fade-50);
  --color-btn-minimal-disabled-text: var(--color-charcoal-60);
  --color-btn-minimal-disabled-border: transparent;

  --color-btn-minimal-bright-text: var(--color-white);
  --color-btn-minimal-bright-border: transparent;
  --color-btn-minimal-bright-hover-text: var(--color-neutrals-120);
  --color-btn-minimal-bright-hover-border: var(--color-white-fade-15);
  --color-btn-minimal-bright-focus-text: var(--color-neutrals-120)
  --color-btn-minimal-bright-focus-border: var(--color-white-fade-15);
  --color-btn-minimal-bright-active-text: var(--color-neutrals-100);
  --color-btn-minimal-bright-active-border: var(--color-white-fade-50);
  --color-btn-minimal-bright-disabled-text: var(--color-neutrals-90);
  --color-btn-minimal-bright-disabled-border: transparent;

  --color-btn-minimal-dark-text: var(--color-charcoal-100);
  --color-btn-minimal-dark-border: transparent;
  --color-btn-minimal-dark-hover-text: var(--color-neutrals-160);
  --color-btn-minimal-dark-hover-border: var(--color-black-fade-15);
  --color-btn-minimal-dark-focus-text: var(--color-neutrals-140);
  --color-btn-minimal-dark-focus-border: var(--color-black-fade-15);
  --color-btn-minimal-dark-active-text: var(--color-neutrals-160);
  --color-btn-minimal-dark-active-border: var(--color-black-fade-50);
  --color-btn-minimal-dark-disabled-text: var(--color-neutrals-100);;
  --color-btn-minimal-dark-disabled-border: transparent;

  // Form Elements
  --color-label-primary-text: var(--color-charcoal-100);
  --color-label-primary-icon: var(--color-charcoal-100);
  --color-label-danger-text: var(--color-error);
  --color-label-danger-icon: var(--color-error);

  --color-input-bg: var(--color-bg-tertiary);
  --color-input-border: var(--color-border-secondary);
  --color-input-hover-bg: var(--color-bg-tertiary);
  --color-input-hover-border: var(--color-border-tertiary);
  --color-input-focus-bg:  var(--color-bg-tertiary);
  --color-input-focus-border: var(--color-border-brand);
  --color-input-disabled-bg: var(--color-bg-tertiary);
  --color-input-disabled-border: var(--color-bg-secondary);
  --color-input-error-bg: var(--color-white);
  --color-input-error-border: var(--color-error);

  --color-input-radiobutton-checked: var(--color-eagleair-100);

  --color-input-checkbox-bg: var(--color-eagleair-100);
  --color-input-checkbox-check: var(--color-white);
  --color-input-checkbox-label: var(--color-white);

  --color-input-select-menu-bg: var(--color-white);
  --color-input-select-item-hover-bg: var(--color-neutrals-90);
  --color-input-select-item-selected-bg: var(--color-eagleair-100);
  --color-input-select-item-selected-text: var(--color-white);
  --color-input-select-item-focus-bg: var(--color-neutrals-100);

  --color-badge-bg: var(--color-gray-300);
  --color-badge-border: var(--color-gray-400);
  --color-badge-text: var(--color-gray-800);
  --color-badge-contrasted-bg: var(--color-gray-700);
  --color-badge-contrasted-border: var(--color-gray-600);
  --color-badge-contrasted-text: var(--color-white);
  --color-badge-primary-bg: var(--color-purple-200);
  --color-badge-primary-border: var(--color-purple-300);
  --color-badge-primary-text: var(--color-purple-800);
  --color-badge-secondary-bg: var(--color-gray-700);
  --color-badge-secondary-border: var(--color-gray-600);
  --color-badge-secondary-text: var(--color-white);
  --color-badge-success-bg: var(--color-green-200);
  --color-badge-success-border: var(--color-green-300);
  --color-badge-success-text: var(--color-green-800);
  --color-badge-danger-bg: var(--color-red-200);
  --color-badge-danger-border: var(--color-red-300);
  --color-badge-danger-text: var(--color-red-800);
  --color-badge-warning-bg: var(--color-yellow-300);
  --color-badge-warning-border: var(--color-yellow-400);
  --color-badge-warning-text: var(--color-yellow-900);
  --color-badge-info-bg: var(--color-blue-200);
  --color-badge-info-border: var(--color-blue-300);
  --color-badge-info-text: var(--color-blue-800);

  --color-tooltip-bg: var(--color-gray-800);
  --color-tooltip-border: var(--color-gray-800);
  --color-tooltip-text: var(--color-white);

  --color-accordion-header-text: var(--color-text-primary);
  --color-accordion-header-bg: var(--color-bg-primary);
  --color-accordion-header-border: var(--color-bg-primary);
  --color-accordion-header-hover-text: var(--color-text-primary);
  --color-accordion-header-hover-bg: var(--color-gray-200);
  --color-accordion-header-hover-border: var(--color-gray-200);
  --color-accordion-header-focus-text: var(--color-text-primary);
  --color-accordion-header-focus-bg: var(--color-gray-200);
  --color-accordion-header-focus-border: var(--color-gray-200);
  --color-accordion-header-disabled-text: var(--color-text-disabled);
  --color-accordion-header-disabled-bg: var(--color-gray-400);
  --color-accordion-header-disabled-border: var(--color-gray-400);
  --color-accordion-header-expanded-text: var(--color-purple-600);
  --color-accordion-header-expanded-bg: var(--color-gray-200);
  --color-accordion-header-expanded-border: var(--color-gray-200);
  --color-accordion-body-text: var(--color-text-primary);
  --color-accordion-body-bg: var(--color-gray-200);
}
