@use '@styles/mixins';

.export {
  overflow: hidden;
}

.export__intro {
  position: relative;
  z-index: 0;
  @include mixins.breakpoint-up(md) {
    padding-left: 12.5%;
    padding-right: 12.5%;
  }
  @include mixins.breakpoint-up(lg) {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.geometric-shape {
  opacity: 0.3;
  position: absolute;
  top: 0;
  right: -150px;
  width: 500px;
  height: 500px;
  z-index: -1;

  @include mixins.breakpoint-up(md) {
    width: 750px;
    height: 750px;
    top: -100px;
    right: -375px;
    opacity: 0.5;
  }
  @include mixins.breakpoint-up(lg) {
    width: 1000px;
    height: 1000px;
    opacity: 0.75;
  }
}

.export__title {
  position: relative;
  z-index: 1;
}

.export__paragraph {
}

.export__list {
  margin-top: 2rem;
  padding-bottom: 2.5rem;
  padding-top: 2.5rem;

  li {
    font-size: var(--font-size-h5);
    font-weight: 900;
    color: var(--color-eagleair-100);
    margin-bottom: 1rem;
  }

  @include mixins.breakpoint-up(lg) {
    margin-top: 3.5rem;
    li {
      font-size: var(--font-size-h3);
    }
  }
}

.articles__header {
  margin-top: 5rem;
  font-size: var(--font-size-h2);
}

.articles {
  display: grid;
  gap: 5rem;
  margin-bottom: 6rem;
  margin-top: 2rem;

  @include mixins.breakpoint-up(md) {
    margin-top: 2.5rem;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }

  @include mixins.breakpoint-up(lg) {
    margin-top: 3.5rem;
    gap: 2rem;
  }
}

.contact {
  display: grid;
  justify-content: center;
  justify-items: center;
  text-align: center;
  gap: 1.5rem;
  margin-top: 4.5rem;

  p {
    color: var(--color-text-secondary);
  }

  @include mixins.breakpoint-up(lg) {
    gap: 2rem;
    margin-top: 9rem;
  }
}

.partners {
  margin-top: 2rem;
  display: flex;
  gap: 1.5rem;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;

  @include mixins.breakpoint-up(md) {
    padding-left: 12.5%;
    padding-right: 12.5%;
    gap: 2rem;

    & > * {
      width: auto;
      height: 3.5rem;
    }
  }

  @include mixins.breakpoint-up(lg) {
    padding-left: 2rem;
    padding-right: 2rem;
    gap: 5rem;

    & > * {
      width: auto;
      height: 4rem;
    }
  }
}
