:root {
  --color-white: #ffffff;
  --color-error: #d12b49;

  --color-neutrals-80: #f8f8f8;
  --color-neutrals-90: #eaeaea;
  --color-neutrals-100: #dcdcdc;
  --color-neutrals-110: #bbbbbb;
  --color-neutrals-120: #9a9a9a;
  --color-neutrals-130: #797979;
  --color-neutrals-140: #585858;
  --color-neutrals-150: #373737;
  --color-neutrals-160: #161616;

  --color-eagleair-50: #e7e8f1;
  --color-eagleair-60: #c8cadd;
  --color-eagleair-70: #a8acca;
  --color-eagleair-80: #888db7;
  --color-eagleair-90: #696fa3;
  --color-eagleair-100: #3f4367;
  --color-eagleair-110: #2c2e47;
  --color-eagleair-120: #181a28;

  --color-charcoal-50: #dedcdd;
  --color-charcoal-60: #c5c2c4;
  --color-charcoal-70: #ada8aa;
  --color-charcoal-80: #948d91;
  --color-charcoal-90: #7b7477;
  --color-charcoal-100: #464244;
  --color-charcoal-110: #2c292b;
  --color-charcoal-120: #121111;

  --color-copper-70: #f7e8e3;
  --color-copper-80: #ebc8bc;
  --color-copper-90: #dfa895;
  --color-copper-100: #c86746;
  --color-copper-110: #a95032;
  --color-copper-120: #823e27;
  --color-copper-130: #5a2b1b;
  --color-copper-140: #33180f;

  --color-black-fade-15: rgba(0, 0, 0, 0.15);
  --color-black-fade-30: rgba(0, 0, 0, 0.3);
  --color-black-fade-50: rgba(0, 0, 0, 0.5);
  --color-black-fade-70: rgba(0, 0, 0, 0.7);
  --color-black-fade-85: rgba(0, 0, 0, 0.85);
  --color-white-fade-15: rgba(255, 255, 255, 0.15);
  --color-white-fade-30: rgba(255, 255, 255, 0.3);
  --color-white-fade-50: rgba(255, 255, 255, 0.5);
  --color-white-fade-70: rgba(255, 255, 255, 0.7);
  --color-white-fade-85: rgba(255, 255, 255, 0.85);
}
