/* fira-sans-regular - latin */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(''),
    url('/fonts/fira-sans-v16-latin-regular.woff2') format('woff2');
}
/* fira-sans-500 - latin */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local(''), url('/fonts/fira-sans-v16-latin-500.woff2') format('woff2');
}
/* fira-sans-600 - latin */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local(''), url('/fonts/fira-sans-v16-latin-600.woff2') format('woff2');
}
/* fira-sans-900 - latin */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local(''), url('/fonts/fira-sans-v16-latin-900.woff2') format('woff2');
}
/* Cooper Black - latin */
@font-face {
  font-family: 'Cooper Black';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(''), url('/fonts/cooper-black.woff2') format('woff2');
}
